* {
  box-sizing: border-box;
}

:root {
  --image-size: 40%;
  --main-color: black;
  --text-color: rgb(188, 188, 188);
  --button-color: #fdde46;
  --bg-color: white;
  --shodow-color: #777;
  --border-radius: 10px;
  --pro-btn-color: white;
  --pro-btn-background: rgb(229, 229, 229);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
}

.main-header {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 80px;
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.userCard {
  position: relative;
  width: 700px;
  margin: 0 auto;
  display: flex;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px var(--shodow-color);
  background-color: var(--bg-color);
}

.background-usercard1,
.background-usercard2 {
  position: absolute;
  width: inherit;
  height: 100px;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 10px var(--shodow-color);
  background-color: var(--bg-color);
  transform: scale(0.9) translateY(-25px);
  z-index: -1;
}

.background-usercard2 {
  transform: scale(0.8) translateY(-50px);
}

.userTag {
  margin-bottom: 50px;
  font-weight: 100;
}

.value {
  margin-top: 10px;
  font-size: 1.3rem;
}
.userCard::before {
  display: block;
  padding: 7px 10px;
  position: absolute;
  content: "PRO";
  right: 20px;
  top: 20px;
  background-color: var(--pro-btn-background);
  color: var(--pro-btn-color);
  border-radius: 20px;
  font-size: 0.7rem;
  font-weight: 500;
}
.userCard::after {
  --circle-size: 75px;
  display: block;
  position: absolute;
  content: "+";
  right: calc(var(--circle-size) / -2);
  top: calc(50% - (var(--circle-size) / 2));
  width: var(--circle-size);
  height: var(--circle-size);
  background-color: var(--button-color);
  border-radius: 50%;
  text-align: center;
  font-family: serif;
  font-size: 2rem;
  line-height: var(--circle-size);
  opacity: 0.85;
}

.imageWrapper {
  width: var(--image-size);
}

.userImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: var(--border-radius) 0px 0px var(--border-radius);
}

.userDataWrapper {
  width: calc(100% - var(--image-size));
  padding-left: 10%;
  color: var(--text-color);
}

.userInfoContainer {
  margin-bottom: 10px;
}

.userName {
  width: 80%;
  color: var(--main-color);
  font-size: 1.5rem;
}

.userStatusContainer {
  display: flex;
}

.userStatus {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.userStatus + .userStatus {
  margin-left: 25px;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 700px) {
  .userCard {
    width: 100%;
    flex-direction: column;
  }

  .imageWrapper {
    width: 100%;
  }

  .userName {
    width: 100%;
  }

  .userDataWrapper {
    width: 100%;
    padding: 1.5em;
  }

  .userImage {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  .userCard::after,
  .background-usercard1,
  .background-usercard2 {
    display: none;
  }
}
